@media screen and (min-width: 1920px) {
  /* #region sidebar */

  .sidebar {
    width: 330px;
  }
  .side_content {
    width: calc(100% - 330px);
  }
  .sidebar > .col-4 > .card {
    margin: 0 0 0 40px;
    & span,
    h3 {
      font-size: 30px;
    }
    & h3{
      padding: 0 0 0 1rem;
    }
  }

  /* #endregion sidebar */
}
@media screen and (max-width: 1024px) {
  /* #region sidebar */

  .sidebar {
    width: 165px;
  }
  .side_content {
    width: calc(100% - 165px);
  }
  .sidebar > .col-4 > .card {
    padding: 0.5rem 0;
    & h3 {
      padding: 0 0 0 0.5rem;
    }
    & i {
      font-size: 15px;
    }
  }
  /* #endregion sidebar */
}
@media screen and (max-width: 768px) {
  /* #region sidebar */

  .sidebar {
    width: 110px;
  }
  .side_content {
    width: calc(100% - 110px);
  }

  /* #endregion sidebar */
}
@media screen and (max-width: 425px) {
  /* #region sidebar */

  .sidebar {
    width: 55px;
  }
  .side_content {
    width: calc(100% - 55px);
  }

  /* #endregion sidebar */
}
@media screen and (max-width: 320px) {
  /* #region sidebar */

  .sidebar {
    width: 35px;
  }
  .side_content {
    width: calc(100% - 35px);
  }

  /* #endregion sidebar */
}
