* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* #region header */

header{
  width: 100%;
  height: 90px;
}

/* #region top_bar */

.top_bar{
  width: 100%;
  height: 100%;
  background: var(--bg--dark-dark);
}
.top_bar>.col-6 {
  width: calc(100% / 2);;
  height: 100%; 
  background: var(--bg--dark-dark);
}

.logo{
  width: 100px;
  height: 100%;
  margin: 0 0 0 20px;
}
.btn_upgrade{
  height: 100%;
  margin: 0 20px 0 0;
}
.btn_upgrade>button{
  background: var(--bg--dark-dark);
  color: var(--text-primary);
  border: 2px solid var(--text-primary);
  border-radius: 25px;
  text-align: center;
  padding: 0.5rem 1rem;
}
.btn_upgrade>button:hover{
  animation: big 500ms;
  transform: scale(1.2);
}
@keyframes big {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.2);
  }
}

/* #endregion top_bar */

/* #endregion header */

/* #region main */
main {
  width: 100%;
  height: calc(100vh - 90px - 90px);
}

/* #region sidebar */

.sidebar {
  width: 220px;
  height: 100%;
  float: left;
}
.col-4 {
  width: 100%;
  height: calc(100% / 3);
  background: var(--bg--dark-dark);
}
.col-6 {
  width: 100%;
  height: calc(100% / 2); 
  background: var(--bg--dark-dark);
}
.col-2 {
  width: 100%;
  height: calc(100% / 6); 
  background: var(--bg--dark-dark);
}
.sidebar > .col-4 > .card, .sidebar > .col-6 > .card, .sidebar > .col-2 > .card {
  padding: 0.5rem 0;
  margin: 0 0 0 20px;
  & a {
    text-decoration: none;
    color: black;
    padding: 0 0 0 0.5rem;
  }
  & h3 {
    font-size: 20px;
    text-align: center;
    color: var(--text-primary);
  }
  & span {
    width: 30px;
    height: 25px;
    font-size: 20px;
    color: var(--text-primary);
  }
  & .fa-plus{
    margin: 0 1rem 0 0;
    padding: 1rem;
    background: var(--text-primary);
    color: var(--bg--dark-dark);
  }
}
.title_playlist, .play_list{
  margin: 1rem 0;
  color: var(--text-primary);
}
.create_playlist{
  margin: 1rem 0;
}
.play_list{
    list-style: none;
    overflow-y: scroll;
    height: 120px;
    width: 100%;
}
/* #endregion sidebar */

/* #region side_content */

.side_content {
  width: calc(100% - 220px);
  height: 100%;
  float: right;
}

/* #endregion side_content */

/* #endregion main */

/* #region footer */

footer {
  width: 100%;
  height: 90px;
}

/* #endregion footer */

/* #region utilities */

.d-flex {
  display: flex;
}
.flex_center {
  justify-content: center;
  align-items: center;
}
.flex_start {
  justify-content: center;
  align-items: start;
}
.flex_end {
  justify-content: end;
  align-items: center;
}
.flex_even{
  justify-content: space-evenly;
  align-items: center;
}
.flex_col {
  flex-direction: column;
}
.line{
  width: 80%;
  height: 2px;
  background: var(--text-primary);
  margin: 0 auto;
}

/* #endregion utilities */

/* #region debug */

.debug_r {
  border: 1px solid red;
  background: yellow;
}
.debug_b {
  border: 1px solid blue;
  background: lightskyblue;
}
.debug_g {
  border: 1px solid green;
  background: gray;
}

/* #endregion debug */

/* #region color */
:root {
  --text-primary: #ebe6e6;
  --bg--dark-dark: #000000;
}

/* #endregion color */
