*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region main */

main{
    width: 100%;
    height: calc(100vh - 90px);
}

/* #region sidebar */

.sidebar{
    width: 220px;
    height: 100%;
    float: left;
}

/* #endregion sidebar */

/* #region side_content */

.side_content{
    width: calc(100% - 220px);
    height: 100%;
    float: right;
}

/* #endregion side_content */

/* #endregion main */

/* #region footer */

footer{
    width: 100%;
    height: 90px;
}

/* #endregion footer */

/* #region debug */

.debug_r{
    border: 1px solid red;
    background: yellow;
}
.debug_b{
    border: 1px solid blue;
    background: lightskyblue;
}.debug_g{
    border: 1px solid green;
    background: gray;
}

/* #endregion debug */